* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161516;
}

.ProductsPage {
    background-color: #161516;
    height: 100vh;
    width: 100%;
}
.Container {
    padding: 0 70px;
    height: 100vh;
    width: 100%;
}
.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}

.Title {
    font-family: Montserrat;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    color: white;
}

.Basket_Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Basket_Count {
    font-family: Montserrat;
    color: white;
}

.Basket_Summa {
    font-family: Montserrat;
    color: white;
    margin-right: 20px;
}

.Circle {
    background: #D58C51;;
    clip-path: circle(40%);
    height:50px;
    width: 50px;
    text-align: center;
    position: relative;
}

.Circle:hover {
    cursor: pointer;
    opacity: 0.5;
}

.Logo {
    padding: 30% 0;
}