
.Auth {
    width:100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Form {
    z-index: 4;
    padding: 0 20px;
    width: 460px;
    height: 340px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.Title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
    margin-top: 36px;
    text-align: center;
}


.Button {
    text-align: center;
    margin-top: 20px;
}

.FormInput_check {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.FormCheckbox_wrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;
    position: relative;

}

.FormCheckbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.FormCheckbox_mark {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 2px solid #D58C51;
    border-radius: 50%;
}

.FormCheckbox_label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #301411;
    margin-left: 10px;

}

.FormCheckbox:checked+.FormCheckbox_mark::after {
    content: "\2713";
    position: absolute;
    left: 5px;
    bottom: 1.3px;
    font-weight: 900;
    font-size: 20px;

}

