.Basket {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Container {
   width: 65%;
}


.Title {
    text-align: center;
    color: white;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.Wrapper {
    height: 105%;
}

.Footer {
    background-color: #161516;
    width: 100%;
    height: 10%;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.Footer_linia {
    width: calc(100vw + 65%);
    height: 1px;
    position: absolute;
    bottom: 100%;
    background-color: #D58C51;
}

.Order {
    margin-top: 20px;
    width: 65%;
}

.Order_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Order_summa {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
    flex-basis:45%;
    padding: 0;
    margin: 0;
    flex-basis: 56%;
}

.Order_btn{
    width: 200px;
    height: 42px;
    background: #D58C51;
    font-family: Montserrat;
    border:none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.Order_btn:hover {
    cursor: pointer;
    opacity: 0.5;
}
.Footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



