.Button {
    width: 200px;
    height: 42px;
    font-family: Montserrat;
    border:none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0.3);
}

.Button:hover {
    opacity: 0.5;
}

.success {
    background: #D58C51;
}


.error {
    background: rgba(240, 87, 108, 1);
}