.Card {
    width: 312px;
    height: 552px;
    border: 1px solid #D58C51;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 20px;
}

.Card_wrapper {
   padding: 30px 21px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.Card_Description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Title {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.Description {
    flex-basis: 60%;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.Block_price_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Price_wt {
    display: flex;
    align-items: center;
}

.Price {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: white;
}

.Weight {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 5px;
}


.Circle {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.Circle:hover {
    cursor: pointer;
    background: #D58C51;
}
.Circle::before {
    content:"+";
    position: absolute;
    left: 34%;
    top:15%;
}

.Wrapper_Circle{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

