.Input {
    width: 420px;
    height: 39px;
    left: 510px;
    top: 468px;
    border: 1px solid #D58C51;
    box-sizing: border-box;
    border-radius: 61px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 0 30px;
    margin-top: 20px;
    outline: none;
}

.Input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}

.Title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
}

.Error {
    border: 3px solid red;
}