.Card {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
 color: #fff;
 font-family: Montserrat;
 font-style: normal;
 font-weight: 500;
 font-size: 17px;
 line-height: 21px;
 flex-basis:60%;
}

.Price {
 font-family: Montserrat;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 22px;
 color: #D58C51;
}

.Delete {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #D58C51;
    position: relative;
    flex-shrink: 1;
}
.Delete:hover {
    cursor: pointer;
}
.Delete::before {
    content:'\2716';
    position: absolute;
    top: 9%;
    left: 27%;
    color: #D58C51;
    font-size: 16px;
}

.Quantity {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    flex-basis:10%;
}